
// libs

@use "./libs/reset" as *;
@use "./libs/utils" as *;
// vars

@use "./vars/global" as *;
@use "./vars/colors" as *;
@use "./vars/breakpoints" as *;

// Fonts
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.woff2') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Medium.woff2') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Lato' ;
  src: url('./fonts/Lato-SemiBold.woff2') format('truetype');
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}


body{
  font-family: "Lato" !important;
  font-style: normal;
}