.form {
  width: 100%;

  max-width: 736px;
}
.tabs{
  width: 732px;
}
.gridContainer{
  margin-top: 32px;
}
.gridRow {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  gap: 12px;
  margin-bottom: 16px;
}

.arrow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: end;
}