.form {
  width: 100%;

  max-width: 736px;
}
.modeSelect {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.activeMode {
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-color);
}

.inactiveMode {
  cursor: pointer;
  color: var(--text-secondary);
}

.tabs{
  width: 732px;
}