:root {
    /* Blue */
    --blue-50: #eaf4ff;
    --blue-100: #d8eaff;
    --blue-200: #b9d7ff;
    --blue-300: #8fbaff;
    --blue-400: #6391ff;
    --blue-500: #3f68ff;
    --blue-600: #1d3aff;
    --blue-700: #132def;
    --blue-800: #132ac0;
    --blue-900: #17298b;
    --blue-950: #0f1957;
  
    /* Cool Green */
    --green-50: #f1fcf4;
    --green-100: #dff9e9;
    --green-200: #c0f2d3;
    --green-300: #8ee7b1;
    --green-400: #56d287;
    --green-500: #2fb866;
    --green-600: #219851;
    --green-700: #1e7742;
    --green-800: #1c5f38;
    --green-900: #194E30;
    --green-950: #082b18;
  
    /* Yellow */
    --yellow-50: #fefce8;
    --yellow-100: #fffac2;
    --yellow-200: #fff088;
    --yellow-300: #ffe145;
    --yellow-400: #fdcd12;
    --yellow-500: #f2b705;
    --yellow-600: #cd8a01;
    --yellow-700: #a36105;
    --yellow-800: #874c0c;
    --yellow-900: #723e11;
    --yellow-950: #432005;
  
    /* Red */
    --red-50: #FEF2F2;
    --red-100: #FFE1E1;
    --red-200: #FFC9C9;
    --red-300: #FEA3A3;
    --red-400: #FC6D6D;
    --red-500: #F43F3F;
    --red-600: #E22828;
    --red-700: #BD1818;
    --red-800: #9C1818;
    --red-900: #821A1A;
    --red-950: #470808;
  
    /* Gray */
    --gray-white: #FFFFFF;
    --gray-25: #F9F9F9;
    --gray-50: #F5F5F6;
    --gray-75: #ECECED;
    --gray-100: #E6E6E7;
    --gray-200: #D0D0D1;
    --gray-300: #AFAFB1;
    --gray-400: #89898D;
    --gray-500: #6B6B6F;
    --gray-600: #5B5B5F;
    --gray-700: #4E4E50;
    --gray-800: #444446;
    --gray-900: #3C3C3D;
    --gray-950: #262527;

    --event-text-color: #5163AE;
  }