:root {
  /* C - color */
  --C-accent: red;
  --C-secondary: blue;

  /* Z indexs */
  --Z-modal: 10;

  /* Animations */
  --A-duration: 0.3s;

  // -----
  /* Fonts */
  --F-h1-size: 40px;
  // Жирность шрифта
  --F-h1-weight: 700;
  // Высота строки
  --F-h1-lineHeight: 1.2;

  --F-h1: var(--F-h1-weight) var(--F-h1-size) / var(--F-h1-lineHeight)
    var(--font-main);

    /* Text */
  --text-default: #1E1E1E;
  --text-brand: #17298B;
  --text-primary: #262527;
  --text-primary-rgb: 38, 37, 39;
  --text-secondary: #6B6B6F;
  --text-white: #ffffff;
  --text-disabled: #AFAFB1;

  /* Border */
  --border-gray-light: #e6e6e7;
  --border-gray-hover: #d0d0d1;
  --border-gray-dark: #89898D;
  --border-active: #6B6B6F;
  --border-default: #D9D9D9;

  /* Surface */
  --surface-card: #f9f9f9;
  --surface-white: #ffffff;

  /* Action */
  --action-brand: #3F68FF;
  --action-success: #2FB866;
  --action-danger: #F43F3F;
  --action-info: #3F68FF;
  --action-warning: #F2B705;

  /* Размеры для теней */
  --sds-size-depth-0: 0px;
  --sds-size-depth-025: 1px;
  --sds-size-depth-100: 4px;

  /* Цвета теней */
  --sds-color-black-100: rgba(0, 0, 0, 0.12);
  --sds-color-black-200: rgba(0, 0, 0, 0.24);

  // Высота элементов
  --header-height:62px;

  // Ширина элементов
  --sidebar-colapsed-width:76px;
  --sidebar-open-width:300px;
}
