.button {
  font-family: 'Rubik', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;

  &.iconOnly {
    padding: 0;
    width: 44px;
    height: 44px;
  
    &.small {
      padding: 0;
      width: 32px;
      height: 32px;
    }
  
    .icon,
    .iconStart,
    .iconEnd {
      margin: 0;
    }
  
    .content {
      display: none;
    }
  }
  &.medium {
    height: 44px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 12px;
    &.loading{
      padding: 1px 24px;
    }
  }

  &.small {
    padding: 0 12px;
    height: 32px;
    font-size: 14px;
    line-height: 12px;
    border-radius: 8px;

  }

  &.red {
    background-color: var(--action-danger);
    color: white;

    &:hover:not(:disabled):not(.loading) {
      background-color: var(--red-600);
    }

    &:disabled {
      background-color: var(--red-100);
      color: var(--text-white);
      cursor: not-allowed;
    }

    &.loading {
      background-color: var(--red-100);
    }
  }
  &.primary {
    background-color: var(--action-brand);
    color: white;

    &:hover:not(:disabled):not(.loading) {
      background-color: var(--blue-600);
    }

    &:disabled {
      background-color: var(--blue-100);
      color: var(--text-white);
      cursor: not-allowed;
    }

    &.loading {
      background-color: var(--blue-100);
    }
  }

  &.neutral {
    background-color: var(--gray-50);
    color: var(--text-primary);

    &:hover:not(:disabled):not(.loading) {
      background-color: var(--gray-75);
    }

    &:disabled {
      background-color: var(--gray-50);
      color: var(--text-disabled);
      cursor: not-allowed;
    }

    &.loading {
      background-color: var(--gray-50);
    }
  }

  &.subtle {
    background-color: transparent;
    color: var(--text-primary);
    border: 1px solid var(--border-gray-light);
    &:hover:not(:disabled):not(.loading) {
      background-color: var(--gray-50);
      border: 1px solid var(--border-gray-hover);
    }

    &:disabled {
      background-color: transparent;
      color: var(--text-disabled);
      cursor: not-allowed;
    }

    &.loading {
      background-color: transparent;
    }
  }
  &.text {
    background-color: transparent;
    color: var(--text-primary);
    border: 1px solid transparent;

    &:disabled {
      color: #aaa;
      cursor: not-allowed;
    }

    &:hover:not(:disabled):not(.loading) {
      border: 1px solid var(--border-gray-light);
    }
  }
}

.iconStart,
.iconEnd {
  display: inline-flex;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
