.customEvent{
    position: relative;
    min-height: 20px;
    overflow: hidden;
}
.eventTitle{
    color: var(--text-brand);
    
}
.eventTime{
    color: #5163AE;
    
}
.eventAge{
    color: #5163AE;

}
.eventPlaces{
    color: #5163AE;

}
.eventTag{
    color: #5163AE;
}

.eventInfo {
    display: flex;
    align-items: center;
    color: #5163AE;
    font-size: 12px;
    gap: 6px;
  }
  
  .dotSeparator {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #5163AE;
  }
  .eventShortTitle{
    color: var(--text-brand);
    display: flex;
    align-items: center;
    gap: 6px;
  }