
.sidebar {
    width: var(--sidebar-colapsed-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: var(--header-height);
    background-color: var(--surface-white);
    overflow-x: visible;
    transition: 0.3s width ease;
    z-index: 12;
    border-right: 1px solid var(--border-gray-light);
    padding: 24px 8px;

    &:hover {
      width: var(--sidebar-open-width);
      .nav{
        width: 100%;
      }
      .label {
        opacity: 1;
        visibility: visible;
      }
    }
  
  }


  .nav {
    padding: 4px;
    border: 1px solid var(--border-gray-light);
    border-radius: 12px;
    width: 60px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  
  .item {
    border-radius: 8px;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active{
      background: var(--gray-75);
    }
  }
  
  .icon {
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  .label {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
  }
  .link{
    display: flex;
    gap: 12px;
    align-items: center;
  }

 
