.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    button {
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
  
      &:first-of-type {
        background-color: #4caf50;
        color: white;
      }
  
      &:last-of-type {
        background-color: #ccc;
      }
    }
  }
  