.container {
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
}
  
.imageSection {
  flex: 1;
  box-sizing: border-box;
  padding: 24px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @media (max-width: 1023px) {
    display: none;
  }

 .image {
  aspect-ratio: 3 / 4;
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;
}
}
  
  .formSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
  
    .formBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 560px;
    }
  
    @media (max-width: 768px) {
      flex: none;
      height: 100%;
      padding: 32px 16px;
    }
  }
  