.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .label {
    font-size: 16px;
    line-height: 120%;
    color: var(--text-primary);
  }
  
  .inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input {
    padding: 9px 16px;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid var(--border-gray-light);
    border-radius: 12px;
    transition: border 0.2s;
    width: 100%;
    
    &:hover {
      border-color: var(--border-gray-hover);
    }
    
    &:focus {
      outline: none;
      border-color: var(--border-active);
    }
    
    &:disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
      color: #aaa;
    }
    
    &.error {
      border-color: var(--action-danger);
    }
  }
  
  .iconLeft, .iconRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
  }
  
  .iconLeft {
    left: 10px;
  }
  
  .iconRight {
    right: 10px;
  }
  
  .required {
    &::after {
      content: ' *';
      color: var(--action-danger);
    }
  }
  