.menuContainer {
    position: relative;
  }
  
  .menuContent {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    width: 360px;
    max-height: 400px;
    padding: 4px;
    overflow-y: auto;
    border: 1px solid var(--border-gray-light);
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;

  }
  
  .option {
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    padding-right: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    &.selected{
      background-color: var(--gray-75);
      
    }
    &:hover {
      background-color: var(--surface-card);
    }
  }
.title{
  color: var(--text-primary);
  display: block;
  margin-bottom: 4px;
}
.text{
  display: block;
  color: var(--text-secondary);
}

.search{
  margin: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-default);
}
.empty{
  padding: 12px;
}


.optionsWrapper {
  max-height: 300px;
  overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--border-gray-light);
      border-radius: 4px;
    }
}
.resetButton{
  white-space: nowrap
}
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 220px;
}
.errorWrapper{
  padding: 12px 16px;
  text-align: center;
}
.markContainer{
  display: flex;
  align-items: stretch;
}
.alignCenter{
  align-items: center;
}

.colorMark {
  display: block;
  min-height: 44px;
  width: 12px;
  border-radius: 2px;
  margin-right: 12px;
}