.visitToolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.left{
    display: flex;
    align-items: center;
    gap: 16px;
}
.changeDate{
    display: flex;
    align-items: center;
    gap: 4px;
}
.filterWrapper {
  position: relative;
  padding-left: 16px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 24px;
    background-color: var(--border-gray-light);
  }
}