.container {
    width: 100%;
    max-width: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  gap: 24px;
}
.errorWrapper {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 16px;
}

.errorIcon {
  flex-shrink: 0;
}