// Card
.cardTitle{
  display: block;
  margin-bottom: 2px;
}
.card {
  cursor: pointer;
  position: relative;
  border: 1px solid var(--border-gray-light);
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-100);
  transition: all .5s;
  &:hover{
    border-color: var(--border-gray-hover);
    background: var(--gray-25);
  }
}
.cardMark {
  position: absolute;
  top: 16px;
  left: 0;
  width: 8px;
  height: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--blue-800);
}
.cardInfo {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--border-gray-light);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  row-gap: 2px;
}

.cardChild {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--gray-200);
}
.cardTag,.cardLang,.cardAge, .cardFormat, .cardBirthday{
  color: var(--text-secondary);

}