.kanban {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: calc(100% - 75px);
  margin-bottom: 24px;
}

.column {
  border-radius: 14px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-bottom: 1px solid var(--border-gray-light);
}

.title {
  margin-bottom: 8px;
  margin-left: 8px;
  margin-top: 4px;
}

.booked {
  background-color: #F1FBFF;
}

.approved {
  background-color: var(--green-50);
}

.canceled {
  background-color: var(--red-50);
}

.missed {
  background-color: var(--gray-25);
}

.tag{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanbanLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px); 
  border: 1px solid var(--border-gray-light);
  border-radius: 16px;
  padding: 16px;
}

.cancelNotification{
    width: 400px;
}
// scroll
.itemsInner{
  position: relative;
  overflow-y: visible;
  max-height: 100%;
}
.items {
position: relative;
display: flex;
flex-direction: column;
gap: 6px;
overflow-y: auto;
scrollbar-gutter: stable;
transition: overflow-y 0.3s;
&:hover{
  padding-right: 0;
}
}

.items::-webkit-scrollbar {
  display: none;
}

.items:hover::-webkit-scrollbar {
width: 8px;
display: block;
}

.items:hover::-webkit-scrollbar-thumb {
background: var(--border-gray-light);
border-radius: 4px;
}