.react-datepicker__month-container {
  width: 100%;
}
.react-datepicker__header{
  position: relative;
  background: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 100%;
  padding: 0;
  border: none;
}
.react-datepicker__aria-live{
  display: none;
}
.react-datepicker__day,.react-datepicker__day-name{
  font-family: 'Lato', sans-serif;
  width: 40px;
  margin: 4px;
  color: #1D1B20;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px !important;
}
.react-datepicker__month{
  margin: 0;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 12px;
}
.react-datepicker__day-names{
  margin: 0;
  padding: 8px;
  padding-bottom: 0; 
}

.react-datepicker__day{
  transition: all .5s;
}

.react-datepicker__day{
cursor: pointer;
}
.react-datepicker__day--disabled,
.react-datepicker__day--disabled:hover{
  background: #000 !important;
  color: #fff !important;
  opacity: 0.05;
}

.react-datepicker__day:hover{
  background: var(--blue-200) !important;
  border-color:var(--blue-200) ;
}
.react-datepicker__day--today{
  border: 1px solid var(--text-brand) !important;
  color: var(--text-primary) !important;
  background: transparent !important;
}
.react-datepicker__day--selected,.react-datepicker__day--highlighted {
  height: 40px;
  color: #fff !important;
  border: 1px solid var(--text-brand);
  background: #17298B !important;
}

.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range{
  background: var(--text-brand);
  color: #fff;
}