.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.text {
  color: var(--text-white);
}

.tooltip {
  position: absolute;
  background-color: rgba(var(--text-primary-rgb), 0.9);
  color: var(--text-white);
  padding: 4px 8px;
  border-radius: 8px;
  z-index: 1000;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  white-space: pre-wrap;

  box-shadow:
    var(--sds-size-depth-0) var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-100),
    var(--sds-size-depth-0) var(--sds-size-depth-025) var(--sds-size-depth-100) var(--sds-size-depth-0) var(--sds-color-black-200);

  &::after {
    background-color: rgba(var(--text-primary-rgb), 0.9);
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.top {
  &::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}

.bottom {
  &::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
  }
}

.left {
  &::after {
    left: 100%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}

.right {
  &::after {
    right: 100%;
    top: 50%;
    transform: translateX(50%) translateY(-50%) rotate(45deg);
  }
}
