.custom-slot-label{
    color: var(--text-secondary);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    vertical-align: top;
}
.cancelNotification{
    width: 400px;
}
