
/* Calendar Header */
.fc th{
    text-align: left;
}
.fc .fc-col-header-cell-cushion{
    padding: 0;
    display: block;
}
.fc-custom-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    padding: 8px 16px;
    font-family: 'Rubik', sans-serif;
  }
  
  .fc-custom-day {
    color: #262527;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -1%;

  }
  
  .fc-custom-weekday {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #6B6B6F;
  }
  
  .fc-day-today .fc-custom-header {
    border-bottom: 3px solid var(--action-brand);
  }
/* Calendar body */
.fc .fc-day-today{
  background: transparent !important;
}
.fc .fc-timegrid-slot-label{
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-secondary);
  font-weight: 600;
  font-family: 'Lato', sans-serif;

}
.fc .fc-timegrid-slot {
  height: 3.5rem;
}

.fc-day{
    height: 70px;
}
.fc-scrollgrid{
    border-radius: 0;
}


.fc-timegrid-slot-now {
    background-color: var(--gray-100);
  }


.fc-timegrid-now-indicator-arrow {
      display: none;
    }

.fc .fc-highlight {
  background-color: transparent;
  border: none;
}
.fc-event-main{
  background-color: var(--blue-100);
  border-radius: 4px;
  border-left: 4px solid var(--blue-700);
  padding-top: 2px;
  color: var(--event-text-color) !important;
  min-height: fit-content;

}
.fc-event-past .fc-event-main {
  background-color: var(--blue-50) !important;
  border: none !important;
  opacity: 0.8;
}
.fc-v-event{
  margin-top: 2px;
  padding: 1px;
  border: none;
  background: white;
}
.fc-v-event{
  overflow-x: hidden;
  overflow-y: clip;
  z-index: 10;
  min-height: 40px;
}
/* убрать */
.fc-v-event {
  height: 100% !important;
  max-height: 100% !important;
  overflow: hidden;
}
.fc-event-main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* borders */
.fc .fc-timegrid-slot,
.fc .fc-timegrid-slot-label,
.fc .fc-timegrid-slot-lane {
  border: none;
}
.fc .fc-col-header-cell {
  border: none;
}
.fc .fc-daygrid-day,
.fc .fc-timegrid-col {
  border-left: none;
  border-right: none;
}
.fc .fc-scrollgrid {
  border: none;
}

.fc .fc-timegrid-slot {
  border-bottom: 1px solid var(--border-gray-light);
}

/* Добавляем правую границу колонкам (внутри) */
.fc .fc-timegrid-col:not(:last-child) {
  border-right: 1px solid var(--border-gray-light);
}

/* Добавляем нижнюю границу заголовкам */
.fc .fc-col-header-cell {
  border-bottom: 1px solid var(--border-gray-light);
}

.fc .fc-daygrid-day-frame {
  border-bottom: 1px solid var(--border-gray-light);
  border-right: 1px solid var(--border-gray-light);
}
.fc .fc-col-header-cell {
  border-right: 1px solid var(--border-gray-light);
  border-bottom: 1px solid var(--border-gray-light);
}

/* Убираем правую границу у последнего заголовка */
.fc .fc-col-header-cell:last-child {
  border-right: none;
}


/* Calendar Scrooll */
.calendar-scroll-container {
  border:1px solid var(--border-gray-light);
  border-radius: 16px;
  height: calc(100vh - 214px); 
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-300) transparent;
}

.calendar-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}


.calendar-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  border-radius: 3px;
}
.calendar-scroll-container::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}


/* Now Indicator */

.fc .fc-timegrid-now-indicator-container{
  overflow: visible;
  height: 5px;
}

.fc .fc-timegrid-now-indicator-line{
  border-width: 2px 0 0;
  border-color: var(--action-danger);
}