.custom-slot-label{
    color: var(--text-secondary);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    vertical-align: top;
}
.cancelNotification{
    width: 400px;
}

.calendarLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px); 
  border: 1px solid var(--border-gray-light);
  border-radius: 16px;
  padding: 16px;
}